
/* Mengurangi jarak header ke isi */
.all-content-wrapper {
  padding-top: 10px !important;
}

/* Menyesuaikan header agar tidak terlalu tinggi */
.header-top-area {
  padding: 5px 0 !important;
  min-height: 50px !important;
}

/* Mengatur ulang padding container */
.section-admin,
.breadcome-list {
  margin-top: 10px !important;
}

/* Tambah jarak antar konten utama dengan header */
.all-content-wrapper .section-admin,
.all-content-wrapper .breadcome-list {
  margin-top: 80px !important;
}

/* Opsional: Jika ingin table lebih "bernapas" */
.table {
  margin-top: 5px;
}

  .breadcome-list.mt-5 {
    margin-top: 2rem !important;  /* atau 24px */
  }

    .section-file-table {
    margin-top: 2rem; /* atau 32px */
  }

  /* FORCE mini-navbar to behave like normal navbar */
body.mini-navbar .left-sidebar-pro {
  width: 250px !important;
}

body.mini-navbar .left-custom-menu-adp-wrap {
  display: block !important;
  overflow: visible !important;
}

body.mini-navbar .sidebar-nav {
  display: block !important;
}

body.mini-navbar .metismenu > li > a .mini-click-non {
  display: inline !important;
}

body.mini-navbar .sidebar-header,
body.mini-navbar .nalika-profile {
  display: block !important;
}
